body {
  background-image: url("../img/pingpong.jpg");
  background-color: #ffae00;
}
.jumbotron {
  background-color: #ff823a;
}
h1, form {
  text-align: center;
}
p {
  font-size: large;
}
#output {
  display: none;
}
