body {
  background-color: lightgrey;
}
#header {
  background-color: #f7e08f;
  padding: 20px;
  margin-bottom: 20px;
}
.left {
  background-color: #8edb64;
  padding: 5px;
  min-height: 600px;
  font-weight: bold;
}
.info  {
  color:white;
}
.left h5 {
  font-size: 20px;
  color: #f7e08f;
}
#intro {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 5em;
}

form {
  width: 400px;
}

ul {
  font-size: large;
}

#output {
  display: none;
}
.word {
  position: relative;
}
