body {
  background-image: url("../img/pingpong.jpg");
  background-color: #ffae00;
}
.jumbotron {
  background-color: #ff823a;
}
h1, form {
  text-align: center;
}
p {
  font-size: 24px;
  color: purple;
  text-shadow: white 0 0 5px;
}
#output {
  display: none;
}
.word {
  color: red;
}
