body {
  background-image: url("../img/pingpong.jpg");
  background-color: #ffae00;
}
.left {
  padding: 5px;
  background-color: lightgreen;
  border-radius: 5px;
  min-height: 600px;
}
#intro {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 5em;
}

form {
  width: 400px;
  margin: auto;
}

ul {
  background-color: white;
  border-radius: 5px;
  width: 150px;
  font-size: large;
  text-shadow: lightgreen 1px 1px 5px;
}

#output {
  display: none;
}
